{% extends 'index.html' %}

{% block content %}

<form action="/addUser" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col mt-5">
            <label for="first_name"> First Name:</label>
        </div>
        <div class="col mt-5">
            <input type="text" name="first_name" required>
        </div>

        <div class="col mt-5">
            <label for="last"> Last Name:</label>
        </div>
        <div class="col mt-5">
            <input type="text" name="last_name" required>
        </div>
    </div>

    <div class="row">
        <div class="col mt-5">
            <label for="age"> Age:</label>
        </div>
        <div class="col mt-5">
            <input type="text" name="age" required>
        </div>

        <div class="col mt-5">
            <label for="email"> Email:</label>
        </div>
        <div class="col mt-5">
            <input type="email" name="email" required>
        </div>
    </div>
    <button type="submit" class="mt-5 btun"> Add </button>
</form>

{% endblock %}